.alumni-top-container {
  background-image: linear-gradient(45.34deg, #da9bff 5.66%, #6f56f9 94.35%);
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alumni-top-card {
  background-color: #eff0f3;
  opacity: 0.7;
  margin: 0 30%;
  padding: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.alumni-top-heading,
.alumni-engagements-heading,
.alumni-advisors-heading,
.alumni-mentors-heading,
.alumni-supporting-mitech-heading {
  font-size: 56px;
  color: #000000;
}

.alumni-top-description,
.alumni-engagements-description {
  font-size: 18px;
  font-family: 'Avenir Light';
  text-align: center;
}

.alumni-engagements-container {
  background-color: #ececef;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.alumni-engagements-heading {
  margin: 3% 0 2% 0;
}

.alumni-engagements-description {
  margin: 0 0 2% 0;
}

.alumni-engagements-cards-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.alumni-engagements-card {
  width: 20%;
  height: 50%;
  background: #e7e7eb;
  padding: 2%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-title {
  font-size: 20px;
  margin: 7% 0;
}
.card-description {
  font-size: 16px;
  font-family: 'Avenir Light';
  text-align: center;
}

.alumni-advisors-container {
  background-color: #ececef;
  display: flex;
  padding: 3%;
}

.alumni-advisors-left-text-container {
  flex: 60;
  background-color: #ffffff;
  padding: 5%;
}

.alumni-advisors-description-p1,
.alumni-advisors-description-p2,
.alumni-mentors-description,
.alumni-supporting-mitech-description {
  font-size: 18px;
  font-family: 'Avenir Light';
}

.alumni-advisors-description-p1 {
  margin: 3% 0;
}

.alumni-advisors-carousel-container {
  flex: 40;
  background-image: linear-gradient(45.34deg, #da9bff 5.66%, #6f56f9 94.35%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alumni-advisors-professional-headshot {
  max-width: 60%;
  height: auto;
  margin: 0 0 0 25%;
}

.alumni-advisor-info-container {
  background-color: #ffffff;
  padding: 2%;
  margin: 50% 20% 0 -45%;
}

.alumni-advisor-name {
  font-size: 18px;
  font-family: 'Avenir';
}

.alumni-advisor-role {
  font-size: 14px;
  font-family: 'Avenir';
}

.alumni-advisor-type {
  font-size: 13px;
  font-family: 'Avenir Light';
}

.alumni-mentors-container {
  background-color: #ffffff;
  display: flex;
}

.alumni-mentors-left-text-container {
  flex: 30;
  padding: 5%;
  background-color: #15163f;
}

.alumni-mentors-heading {
  color: #ffffff;
}

.alumni-mentors-right-text-container {
  flex: 70;
  background-color: #ffffff;
  padding: 5%;
}

.alumni-supporting-mitech-container {
  display: flex;
  align-items: flex-start;
  background-color: #f9f0ff;
  padding: 5%;
}

.alumni-supporting-mitech-left-img {
  max-width: 100%;
  height: auto;
}

.alumni-supporting-mitech-right-text-container {
  background-color: #ffffff;
  padding: 7%;
  margin: 5% 0 0 -20%;
}
