$primary: hsl(270, 98%, 62%);
$primary-light: hsl(270, 100%, 87%);
$dark: hsl(240, 48%, 17%);
$light: hsl(0, 0%, 100%);

$text: $dark;
$text-invert: $light;
$background: $light;
$background-invert: $dark;
