@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: transparentize($primary-light, 0.9);
  transition: background-color, box-shadow;
  transition-duration: 1s;
  z-index: 9999;
}

.navbarScrolled {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.mobileNavbarContainer {
  display: flex;
  flex-direction: column;
}

.mobileTopNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 0;
}

.mobileBottomNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 2px;
}

.navbarContainer {
  @include respond-to('md') {
    max-width: $lg;
    padding: 0 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  max-width: $sm;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.navbarRoutes {
  @include respond-to('md') {
  }
  display: flex;
  flex-direction: row;
}

.navbarRoute {
  @include respond-to('md') {
    transition: color 0.3s;
    padding: 30px 15px;
  }
  transition: color 0.3s;
  padding: 0 5px;
}

.socialIcon {
  @include respond-to('md') {
    font-size: 25px;
    margin: 10px;
    transition: color 0.3s;
  }
  font-size: 20px;
  margin: 5px;
  transition: color 0.3s;
}

.socialIcon:hover,
.navbarRoute:hover,
.navbarActiveRoute {
  color: $primary;
}
