@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

.popupContainer {
  @include respond-to('md') {
    flex-direction: row;
    top: 25%; /* Center the pop-up vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure the popup container is on top */
}

.card {
  @include respond-to('md') {
    flex-direction: row;
  }
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(251, 248, 255, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animationBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.profileImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.profileContainer {
  color: black;
  font-family: 'Avenir Light';
}

.profileName {
  font-size: 18px;
  font-family: 'Avenir';
}

.profileRole {
  font-size: 17px;
  margin: 10px 0;
}

.profileBio {
  font-size: 16px;
}

.closeButton {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
}
