@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.popupContainer {
  @include respond-to('md') {
    flex-direction: row;
    top: 25%; /* Center the pop-up vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.card {
  @include respond-to('md') {
    flex-direction: row;
  }
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(251, 248, 255, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animationBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(#5ddcff, #3c67e3 43%, #4e00c2);
  z-index: -1;
  animation: rotateGradient 2s linear infinite;
  background-size: 600% 600%; /* Gradient larger than the actual container. This larger size allows the gradient to smoothly transition between colors without abrupt changes at the edges. The larger the background-size, the smoother the color transition will appear.*/
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.profileImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.profileContainer {
  color: black;
  font-family: 'Avenir Light';
  // allow scrolling if the content is too long
  max-height: 250px;
  overflow-y: scroll;
  // hide scrollbar
  -ms-overflow-style: none; // Internet Explorer 10+ //
  scrollbar-width: none; // Firefox //
}

.profileContainer::-webkit-scrollbar {
  display: none; // Safari and Chrome //
}

.profileName {
  font-size: 18px;
  font-family: 'Avenir';
}

.profileRole {
  font-size: 17px;
  margin: 10px 0;
}

.profileBio {
  font-size: 16px;
}

.closeButton {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
}
