@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.topContainer {
  @include respond-to('md') {
    height: 40vh;
  }
  background-image: linear-gradient(45.34deg, #da9bff 5.66%, #6f56f9 94.35%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCard {
  @include respond-to('md') {
    margin: 0 30%;
  }
  background-color: #eff0f3;
  opacity: 0.7;
  padding: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
}

.topHeading,
.engagementsHeading,
.advisorsHeading,
.mentorsHeading,
.supportingMitechHeading {
  @include respond-to('md') {
    font-size: 56px;
  }
  font-size: 22px;
  color: #000000;
}

.topDescription,
.engagementsDescription {
  @include respond-to('md') {
    font-size: 18px;
  }
  font-size: 16px;
  font-family: 'Avenir Light';
  text-align: center;
}

.engagementsContainer {
  background-color: #ececef;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
}

.engagementsHeading {
  @include respond-to('md') {
    margin: 3% 0 2% 0;
  }
  margin: 20px 0;
}

.engagementsDescription {
  margin: 0 0 1% 0;
}

.engagementsCardsContainer {
  @include respond-to('md') {
    flex-direction: row;
    align-items: normal;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.engagementsCard {
  @include respond-to('md') {
    width: 30%;
    height: 50%;
    margin: 0;
  }
  background: #ececef;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  margin: 20px 0;
}

.cardAvatar {
  border-radius: 50%;
  object-fit: cover;
}

.cardTitle {
  font-size: 20px;
  margin: 5% 0;
}
.cardDescription {
  font-size: 16px;
  font-family: 'Avenir Light';
  text-align: center;
}

.advisorsContainer {
  @include respond-to('md') {
    flex-direction: row;
  }
  background-color: #ececef;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.advisorsLeftTextContainer {
  flex: 60;
  background-color: #ffffff;
  padding: 5%;
}

.advisorsDescriptionP1,
.advisorsDescriptionP2,
.mentorsDescription,
.supportingMitechDescription {
  @include respond-to('md') {
    font-size: 18px;
  }
  font-size: 16px;
  font-family: 'Avenir Light';
}

.advisorsDescriptionP1 {
  margin: 3% 0;
}

.advisorCarousel {
  flex: 40;
  background-image: linear-gradient(45.34deg, #da9bff 5.66%, #6f56f9 94.35%);
  position: relative;
}

.advisorsProfessionalHeadshot {
  @include respond-to('md') {
    margin: 15% 0 0 25%;
    position: relative;
    width: 50%;
    aspect-ratio: 1/1;
    z-index: 1;
  }
  position: relative;
}

.advisorInfoContainer {
  background-color: #ffffff;
  padding: 2%;
  margin: -10% 10% 0 40%;
  position: relative;
  z-index: 2;
}

.advisorName {
  font-size: 18px;
  font-family: 'Avenir';
}

.advisorRole {
  font-size: 14px;
  font-family: 'Avenir';
}

.advisorType {
  font-size: 13px;
  font-family: 'Avenir Light';
}

.mentorsContainer {
  @include respond-to('md') {
    flex-direction: row;
  }
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.mentorsLeftTextContainer {
  flex: 30;
  padding: 5%;
  background-color: #15163f;
}

.mentorsHeading {
  @include respond-to('md') {
    text-align: left;
  }
  text-align: center;
  color: #ffffff;
}

.mentorsRightTextContainer {
  flex: 70;
  background-color: #ffffff;
  padding: 5%;
}

.supportingMitechContainer {
  @include respond-to('md') {
    padding: 5% 25%;
  }
  background-image: url(/services/graphLines.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-color: #f9f0ff;
  padding: 5%;
}

.supportingMitechTextContainer {
  @include respond-to('md') {
    padding: 5%;
  }
  background-color: #ffffff;
  opacity: 0.9;
}

.supportingMitechHeading,
.supportingMitechDescription {
  @include respond-to('md') {
    text-align: center;
  }
  text-align: left;
  color: #000000;
}

.supportingMitechDescription {
  margin-top: 4%;
}
