@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.alumniTopContainer {
  background-image: linear-gradient(45.34deg, #da9bff 5.66%, #6f56f9 94.35%);
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alumniTopCard {
  background-color: #eff0f3;
  opacity: 0.7;
  margin: 0 30%;
  padding: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.alumniTopHeading,
.alumniEngagementsHeading,
.alumniAdvisorsHeading,
.alumniMentorsHeading,
.alumniSupportingMitechHeading {
  font-size: 56px;
  color: #000000;
}

.alumniTopDescription,
.alumniEngagementsDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
  text-align: center;
}

.alumniEngagementsContainer {
  background-color: #ececef;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.alumniEngagementsHeading {
  margin: 3% 0 2% 0;
}

.alumniEngagementsDescription {
  margin: 0 0 1% 0;
}

.alumniEngagementsCardsContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.alumniEngagementsCard {
  width: 30%;
  height: 50%;
  background: #ececef;
  padding: 2%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cardAvatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.cardTitle {
  font-size: 20px;
  margin: 5% 0;
}
.cardDescription {
  font-size: 16px;
  font-family: 'Avenir Light';
  text-align: center;
}

.alumniAdvisorsContainer {
  background-color: #ececef;
  display: flex;
  padding: 3%;
}

.alumniAdvisorsLeftTextContainer {
  flex: 60;
  background-color: #ffffff;
  padding: 5%;
}

.alumniAdvisorsDescriptionP1,
.alumniAdvisorsDescriptionP2,
.alumniMentorsDescription,
.alumniSupportingMitechDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
}

.alumniAdvisorsDescriptionP1 {
  margin: 3% 0;
}

.alumniAdvisorCarousel {
  flex: 40;
  background-image: linear-gradient(45.34deg, #da9bff 5.66%, #6f56f9 94.35%);
  position: relative;
}

.alumniAdvisorsProfessionalHeadshot {
  max-width: 50%;
  height: auto;
  margin: 15% 0 0 25%;
  position: relative;
  z-index: 1;
}

.alumniAdvisorInfoContainer {
  background-color: #ffffff;
  padding: 2%;
  margin: -10% 10% 0 40%;
  position: relative;
  z-index: 2;
}

.alumniAdvisorName {
  font-size: 18px;
  font-family: 'Avenir';
}

.alumniAdvisorRole {
  font-size: 14px;
  font-family: 'Avenir';
}

.alumniAdvisorType {
  font-size: 13px;
  font-family: 'Avenir Light';
}

.alumniMentorsContainer {
  background-color: #ffffff;
  display: flex;
}

.alumniMentorsLeftTextContainer {
  flex: 30;
  padding: 5%;
  background-color: #15163f;
}

.alumniMentorsHeading {
  color: #ffffff;
}

.alumniMentorsRightTextContainer {
  flex: 70;
  background-color: #ffffff;
  padding: 5%;
}

.alumniSupportingMitechContainer {
  display: flex;
  align-items: flex-start;
  background-color: #f9f0ff;
  padding: 5%;
}

.alumniSupportingMitechLeftImg {
  max-width: 100%;
  height: auto;
}

.alumniSupportingMitechRightTextContainer {
  background-color: #ffffff;
  padding: 5%;
  margin: 5% 0 0 -20%;
}

.alumniSupportingMitechDescription {
  margin-top: 4%;
}
