@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.header {
  @include respond-to('md') {
    height: 70vh;
    justify-content: center;
    padding: 0 150px;
  }
  display: flex;
  z-index: 100;
  padding: 0 20px;
  flex-direction: column;
  align-items: flex-start;
}

.headerTitle {
  @include respond-to('md') {
    font-size: 90px;
    max-width: 800px;
    margin-top: 0;
  }
  font-size: 24px;
  margin-top: 20px;
}

.headerSubtitle {
  @include respond-to('md') {
    font-size: 24px;
    margin: 30px 0;
    max-width: 500px;
  }
  font-size: 16x;
  margin: 30px 0px;
}

.headerLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
}

.services {
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20%;
}

.servicesSubtitle {
  font-size: 16px;
  font-family: 'Avenir Light';
  color: $primary;
}

.servicesTitle {
  @include respond-to('md') {
    font-size: 36px;
  }
  font-size: 22px;
  font-family: 'Avenir';
  text-align: center;
  margin: 2% 0;
}

.servicesGallery {
  @include respond-to('md') {
    max-width: 1500px;
    flex-direction: row;
    gap: 2%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.servicesGalleryItem {
  @include respond-to('md') {
    width: 350px;
    margin: 0;
    text-align: left;
    border-bottom: none;
    border-right: #debdff 1px solid;
  }
  position: relative;
  text-align: center;
  margin: 10px 0;
  border-bottom: #debdff 1px solid;
  padding: 2%;
}

.servicesGalleryItemTitle {
  font-size: 16px;
  font-family: 'Avenir';
  margin: 10px 0;
}

.servicesGalleryItemDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
}

.servicesLink {
  @include respond-to('md') {
    margin-top: 40px;
  }
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
  margin-top: 10px;
}

.aboutContainer,
.contactContainer {
  @include respond-to('md') {
    display: flex;
  }
}

.aboutLeftTextContainer,
.contactLeftTextContainer {
  @include respond-to('md') {
    display: block;
    flex: 50;
    padding: 10%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7%;
}

.aboutSubHeading,
.contactSubHeading {
  @include respond-to('md') {
    text-align: left;
  }
  font-size: 16px;
  font-family: 'Avenir';
  text-align: center;
  color: $primary;
}

.aboutHeading,
.contactHeading {
  @include respond-to('md') {
    font-size: 36px;
    text-align: left;
  }
  font-size: 22px;
  font-family: 'Avenir';
  text-align: center;
  margin: 2% 0;
}

.aboutDescription,
.contactDescription {
  @include respond-to('md') {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 5%;
  }
  font-size: 16px;
  font-family: 'Avenir Light';
}

.ourServicesLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
  margin-top: 20px;
}

.aboutImageContainer,
.contactImageContainer {
  @include respond-to('md') {
    display: block;
    flex: 50;
  }
  display: none;
}

.aboutImage,
.contactImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamContainer {
  @include respond-to('md') {
    justify-content: center;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 7%;
}

.teamHeading {
  font-size: 56px;
  font-family: 'Avenir';
  margin-bottom: 2%;
}

.teamSubHeading {
  font-size: 20px;
  font-family: 'Avenir';
  margin-bottom: 2%;
}

.teamDescription {
  @include respond-to('md') {
    font-size: 18px;
    line-height: 1.8;
    padding: 0 25%;
    margin-bottom: 2%;
  }
  font-size: 16px;
  font-family: 'Avenir Light';
}

.aboutLink {
  @include respond-to('md') {
    margin-top: 0;
  }
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
  margin-top: 20px;
}

.alumniContainer {
  @include respond-to('md') {
    flex-direction: row;
  }
  background-color: #f9f0ff;
  display: flex;
  flex-direction: column;
}

.alumniLeftTextContainer {
  @include respond-to('md') {
    flex: 50;
  }
  padding: 10% 7%;
}

.alumniHeading {
  @include respond-to('md') {
    font-size: 52px;
  }
  font-size: 22px;
  font-family: 'Avenir';
}

.alumniDescription {
  @include respond-to('md') {
    font-size: 18px;
    line-height: 1.8;
    margin: 2% 0 5% 0;
  }
  font-size: 16px;
  font-family: 'Avenir Light';
  margin: 2% 0 10% 0;
}

.alumniLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
}

.alumniCarousel {
  @include respond-to('md') {
    flex: 50;
    padding: 0;
  }
  background: linear-gradient(-225deg, #65379b 0%, #886aea 53%, #6457c6 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.sponsorsInterestContainer {
  @include respond-to('md') {
    flex-direction: row;
  }
  background-color: white;
  display: flex;
  flex-direction: column;
}

.leftTextContainer {
  flex: 30;
  background-color: #16163f;
  color: white;
  padding: 5%;
}

.sponsorsInterestHeading {
  @include respond-to('md') {
    font-size: 56px;
    text-align: left;
  }
  font-size: 28px;
  text-align: center;
}

.sponsorsInterestHeadingDescription {
  @include respond-to('md') {
    text-align: left;
  }
  font-size: 18px;
  font-family: 'Avenir Light';
  margin-top: 5%;
  text-align: center;
}

.rightTextContainer {
  flex: 70;
  padding: 5%;
}

.sponsorsInterestDescription1 {
  font-size: 20px;
  font-family: 'Avenir';
}

.sponsorsInterestDescription2 {
  font-size: 18px;
  font-family: 'Avenir Light';
  margin: 3% 0 30px 0;
}

.sponsorsLink {
  position: relative;
  background-color: $primary;
  color: $background;
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
}

.contactLeftTextContainer {
  background-image: url(/services/graphLines.png);
}

.contactSocials {
  @include respond-to('md') {
    margin: 2% 0;
  }
  margin: 7% 0;
}

.socialIcon {
  font-size: 25px;
  margin: 10px;
  transition: color 0.3s;
}

.socialIcon:hover {
  color: $primary;
}

.contactForms {
  display: flex;
  flex-direction: column;
}

.contactForm {
  font-size: 24px;
  font-family: 'Avenir Light';
  text-decoration: underline;
  margin: 2% 0;
}

.communityContainer {
  @include respond-to('md') {
    padding: 4% 15%;
  }
  background-color: $dark;
  color: white;
  text-align: center;
  padding: 4% 2%;
}

.communityHeading {
  @include respond-to('md') {
    font-size: 56px;
  }
  font-size: 22px;
  margin-bottom: 2%;
}

.communityDescription {
  @include respond-to('md') {
    font-size: 18px;
  }
  font-size: 16px;
  font-family: 'Avenir Light';
}
