@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.header {
  width: 100vw;
  height: 70vh;
  display: flex;
  z-index: 100;
  padding: 0 150px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headerTitle {
  font-size: 90px;
  max-width: 800px;
}

.headerSubtitle {
  font-size: 24px;
  margin: 30px 0;
  max-width: 500px;
}

.headerLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
}

.services {
  width: 100vw;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.servicesSubtitle {
  font-size: 16px;
  font-family: 'Avenir Light';
  color: $primary;
}

.servicesTitle {
  font-size: 36px;
  font-family: 'Avenir';
  margin: 2% 0;
}

.servicesGallery {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5px;
}

.servicesGalleryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  margin: 25px;
}

.servicesGalleryItemIcon {
  color: $primary;
  width: 100px;
  height: 100px;
}

.servicesGalleryItemTitle {
  font-size: 16px;
  font-family: 'Avenir';
  margin: 10px 0;
}

.servicesGalleryItemDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
}

.servicesLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
  margin-top: 40px;
}

.aboutContainer,
.contactContainer {
  display: flex;
}

.aboutLeftTextContainer,
.contactLeftTextContainer {
  flex: 50;
  padding: 10%;
}

.aboutSubHeading,
.contactSubHeading {
  font-size: 16px;
  font-family: 'Avenir';
  color: $primary;
}

.aboutHeading,
.contactHeading {
  font-size: 36px;
  font-family: 'Avenir';
  margin: 4% 0;
}

.aboutDescription,
.contactDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
  line-height: 1.8;
  margin-bottom: 5%;
}

.ourServicesLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
}

.aboutImageContainer,
.contactImageContainer {
  flex: 50;
}

.aboutImage,
.contactImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.teamHeading {
  font-size: 56px;
  font-family: 'Avenir';
  margin-bottom: 2%;
}

.teamSubHeading {
  font-size: 20px;
  font-family: 'Avenir';
  margin-bottom: 2%;
}

.teamDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
  line-height: 1.8;
  padding: 0 30%;
  margin-bottom: 2%;
}

.aboutLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
}

.alumniContainer {
  background-color: #f9f0ff;
  display: flex;
}

.alumniLeftTextContainer {
  flex: 50;
  padding: 10%;
}

.alumniHeading {
  font-size: 52px;
  font-family: 'Avenir';
}

.alumniDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
  line-height: 1.8;
  margin-top: 2%;
  margin-bottom: 5%;
}

.alumniLink {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: $primary;
  color: $background;
}

.alumniRightImageContainer {
  flex: 50;
  background: linear-gradient(-225deg, #65379b 0%, #886aea 53%, #6457c6 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alumniAdvisorHeadshot {
  width: 50%;
  height: 60%;
  object-fit: cover;
}

.alumniAdvisorName,
.alumniAdvisorTitle {
  font-size: 18px;
  font-family: 'Avenir';
  color: white;
  margin-top: 1%;
}

.alumniAdvisorRole,
.alumniAdvisorClass {
  font-size: 16px;
  font-family: 'Avenir';
  color: #e9d2ff;
  margin-top: 1%;
}

.sponsorsInterestContainer {
  background-color: white;
  display: flex;
}

.leftTextContainer {
  flex: 30;
  background-color: #16163f;
  color: white;
  padding: 5%;
}

.sponsorsInterestHeading {
  font-size: 56px;
}

.sponsorsInterestHeadingDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
  margin-top: 5%;
}

.rightTextContainer {
  flex: 70;
  padding: 5%;
}

.sponsorsInterestDescription1 {
  font-size: 20px;
  font-family: 'Avenir';
}

.sponsorsInterestDescription2 {
  font-size: 18px;
  font-family: 'Avenir Light';
  margin-top: 3%;
}

.contactLeftTextContainer {
  background-image: url(/services/graphLines.png);
}

.contactSocials {
  margin-bottom: 4%;
}

.socialIcon {
  font-size: 25px;
  margin: 10px;
  transition: color 0.3s;
}

.socialIcon:hover {
  color: $primary;
}

.contactForm {
  font-size: 24px;
  font-family: 'Avenir Light';
  text-decoration: underline;
  margin: 2% 0;
}

.communityContainer {
  background-color: $dark;
  padding: 4% 15%;
  color: white;
  text-align: center;
}

.communityHeading {
  font-size: 56px;
  margin-bottom: 2%;
}

.communityDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
}
