@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.overlay {
  display: none; /* Initially hide the overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Position the overlay behind the pop-up but above other content */
}

.showOverlay {
  display: block; /* Show the overlay when needed */
}

.teamContainer {
  @include respond-to('md') {
    padding: 5% 20%;
  }
  background-color: #f8f0ff;
}

.teamBox {
  @include respond-to('md') {
    align-items: center;
    padding: 2% 10%;
  }
  background-color: #f7f6fa;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 20px;
}

.teamHeading {
  @include respond-to('md') {
    font-size: 56px;
    text-align: left;
  }
  font-size: 22px;
  text-align: center;
}

.teamMiniHeading {
  @include respond-to('md') {
    font-size: 20px;
  }
  font-size: 18px;
  font-family: 'Avenir';
  text-align: center;
  margin: 2% 0;
}

.teamDescription {
  @include respond-to('md') {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
  }

  font-size: 16px;
  font-family: 'Avenir Light';
}

.initiativesContainer {
  @include respond-to('md') {
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 20%;
}

.initiativesHeading {
  @include respond-to('md') {
    font-size: 56px;
  }
  font-size: 22px;
}

.initiativesCardsContainer {
  @include respond-to('md') {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
}

.initiativesCard {
  @include respond-to('md') {
    width: 30%;
    margin: 0;
  }
  height: 50%;
  padding: 2%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0;
}

.cardAvatar {
  border-radius: 50%;
  object-fit: cover;
}

.cardTitle {
  @include respond-to('md') {
    font-size: 20px;
  }
  font-size: 18px;
  font-family: 'Avenir';
  margin: 5% 0;
}

.cardDescription {
  font-size: 16px;
  font-family: 'Avenir Light';
  text-align: center;
}

.meetTeamContainer {
  background-image: url(/services/graphLines.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.meetTeamHeading {
  @include respond-to('md') {
    font-size: 36px;
  }
  font-size: 22px;
  margin-top: 4%;
}

.meetTeamDescription {
  font-size: 16px;
  font-family: 'Avenir';
  margin: 2% 0;
}

.teamPhotosContainer {
  @include respond-to('lg') {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
}

.execProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.execHeadshot {
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.execHeadshot:hover {
  box-shadow:
    0 4px 8px 0 rgba(251, 248, 255, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.execInfoContainer {
  @include respond-to('lg') {
    height: 95px;
  }
  background-color: white;
  width: 280px;
  height: auto;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.execName {
  font-size: 20px;
  font-family: 'Avenir';
}

.execRole {
  font-size: 14px;
  font-family: 'Avenir Light';
}

.joinUsContainer {
  @include respond-to('md') {
    padding: 5% 20%;
  }
  background-color: #15163f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.joinUsHeading {
  @include respond-to('md') {
    font-size: 30px;
  }
  font-size: 22px;
  text-align: center;
}

.joinUsDescription {
  font-size: 16px;
  font-family: 'Avenir';
  margin: 4% 0;
  text-align: center;
}

.joinUsButton {
  background-color: #ffffff;
  color: #a64cfe;
  padding: 1.5% 4%;
  border: none;
}

.joinUsButton:hover {
  background-color: #a64cfe;
  color: #ffffff;
  cursor: pointer;
}
