@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.teamContainer {
  background-image: url(../../_assets/about/aboutBG.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 20%;
}

.teamBox {
  background-color: #f7f6fa;
  opacity: 0.8;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2% 10%;
  color: #000000;
}

.teamHeading {
  font-size: 56px;
}

.teamMiniHeading {
  font-size: 20px;
  font-family: 'Avenir';
  margin: 2% 0;
}

.teamDescription {
  font-size: 18px;
  font-family: 'Avenir Light';
  text-align: center;
  line-height: 1.8;
}

.initiativesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2% 20%;
}

.initiativesHeading {
  font-size: 56px;
}

.initiativesCardsContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.initiativesCard {
  width: 30%;
  height: 50%;
  padding: 2%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cardAvatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.cardTitle {
  font-size: 20px;
  font-family: 'Avenir';
  margin: 5% 0;
}

.cardDescription {
  font-size: 16px;
  font-family: 'Avenir Light';
  text-align: center;
}

.meetTeamContainer {
  background-color: #ececef;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.meetTeamHeading {
  font-size: 36px;
  margin-top: 4%;
}

.meetTeamDescription {
  font-size: 16px;
  font-family: 'Avenir';
  margin: 2% 0;
}

.teamPhotosContainer {
  padding: 3%;
  gap: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.execProfile {
  width: 20%;
  margin-bottom: 2%;
  height: auto;
  position: relative;
}

.execHeadshot {
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.execInfoContainer {
  background-color: #ffffff;
  padding: 5%;
  margin: -20% 0 0 20%;
  position: relative;
  z-index: 2;
}

.execName {
  font-size: 20px;
  font-family: 'Avenir';
}

.execRole {
  font-size: 14px;
  font-family: 'Avenir Light';
}

.joinUsContainer {
  background-color: #15163f;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5% 20%;
}

.joinUsHeading {
  font-size: 30px;
}

.joinUsDescription {
  font-size: 16px;
  font-family: 'Avenir';
  margin: 4% 0;
  text-align: center;
}

.joinUsButton {
  background-color: #ffffff;
  color: #a64cfe;
  padding: 1.5% 4%;
  border: none;
}
