@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.sponsorsTopContainer {
  @include respond-to('md') {
    background-image: url(/sponsors/sponsorsBG.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  text-align: center;
  padding: 5%;
}

.sponsorsTopHeading {
  @include respond-to('md') {
    font-size: 56px;
  }
  font-size: 22px;
  color: #15163f;
}

.sponsorsInterestContainer {
  @include respond-to('md') {
    flex-direction: row;
  }
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.sponsorsInterestLeftTextContainer {
  @include respond-to('md') {
    text-align: left;
  }
  flex: 50;
  padding: 5%;
  background-color: #15163f;
  text-align: center;
}

.sponsorsInterestHeading {
  @include respond-to('md') {
    font-size: 56px;
  }
  font-size: 18px;
  color: #ffffff;
}

.sponsorsInterestHeadingDescription {
  @include respond-to('md') {
    font-size: 18px;
  }
  font-size: 16px;
  font-family: 'Avenir Light';
  color: #ffffff;
  margin-top: 5%;
}

.sponsorsInterestRightTextContainer {
  flex: 50;
  background-color: #ffffff;
  padding: 5%;
}

.sponsorsInterestDescription1 {
  font-size: 20px;
  font-family: 'Avenir';
}

.sponsorsInterestDescription2 {
  font-size: 18px;
  font-family: 'Avenir Light';
  margin-top: 3%;
}

.packagesContainer {
  background-image: url(/services/graphLines.png);
  padding: 5%;
}

.packagesCardsContainer {
  @include respond-to('md') {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
}

.silverCard,
.goldCard,
.platinumCard,
.aLaCarteCard {
  @include respond-to('md') {
    width: 20%;
    margin: 0;
    padding: 5% 2% 2% 2%;
  }
  padding: 5%;
  position: relative;
  margin: 5% 0;
}

.silverCard {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.goldCard {
  background-color: #ffdfaa;
  background-image: linear-gradient(315deg, #ffdfaa 0%, #fff6bf 74%);
}

.platinumCard {
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

.aLaCarteCard {
  background-color: #f8f8f8;
  background-image: linear-gradient(315deg, #e5d9f2 0%, #cdc1ff 74%);
}

.numberCircle {
  @include respond-to('md') {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    color: black;
    background: #ffffff;
    margin: 0 auto;
    z-index: 1;
    line-height: 4.5;
    font-family: 'Avenir';
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
  display: none;
}

.cardHeading {
  font-size: 20px;
  font-family: 'Avenir';
  text-align: center;
  margin-bottom: 4%;
  color: $primary;
}

.cardSubHeading {
  font-size: 16px;
  font-family: 'Avenir Light';
  text-align: center;
  margin-bottom: 4%;
  color: $primary;
}

.packageOffers {
  font-size: 16px;
  font-family: 'Avenir Light';
  line-height: 1.8;
  margin-left: 10%;
}
