@import '@/app/_styles/theme.scss';
@import '@/app/_styles/responsive.scss';

.overlay {
  display: none; /* Initially hide the overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Position the overlay behind the pop-up but above other content */
}

.showOverlay {
  display: block; /* Show the overlay when profile is clicked */
}

.advisorCarousel {
  @include respond-to('md') {
    max-width: 500px;
  }
  max-width: 400px;
}
.advisorSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advisorProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.advisorImageContainer {
  object-fit: cover;
}

.advisorInfoContainer {
  margin-top: 10px;
  padding: 0 10px;
  text-align: center;
}

.alumniAdvisorName,
.alumniAdvisorTitle {
  @include respond-to('md') {
    font-size: 18px;
  }
  font-size: 17px;
  font-family: 'Avenir';
  color: white;
  margin-top: 1%;
}

.alumniAdvisorRole,
.alumniAdvisorClass {
  font-size: 16px;
  font-family: 'Avenir';
  color: #e9d2ff;
  margin-top: 1%;
}
